<!DOCTYPE html>
<head>
<!-- <meta name="viewport" content="width=device-width"> -->
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	
  <% if current_page?(root_url) %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% end %>
	
  <%= csrf_meta_tag %>
</head>
<body>
<%= render 'layouts/header' %>



<div class="container-fluid">
<div class="row">&nbsp;</div>
<div class="row">

<%= yield %>

</div>


</div>
<%= debug(params) if Rails.env.development? %>
<% if Rails.env.development? && current_page?(root_url) %>
	<%= hidden_field_tag 'debug', 'false' %>
	<%= javascript_include_tag "debugger", media: "all", "data-turbolinks-track" => true if Rails.env.development? %>
	
<% end %>
</body>
</html>
